Repository JosunLP/sort-it-now, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, web, scripts, config, documentation

.github/labeler.yml:

# Add labels to pull requests based on modified file paths
rust:
  - 'src/**/*.rs'
  - 'Cargo.toml'
web:
  - 'web/**'
scripts:
  - 'scripts/**'
config:
  - '.github/workflows/**'
  - 'package.json'
documentation:
  - 'README.md'
  - 'CONCEPT.md'

🐛 Korrigiere SHA256-Checksumme für Linux und macOS; füge Fehlerausgabe für nicht unterstützte macOS-Architekturen hinzu
  .github/workflows/release.yml
  src/update.rs
Labels: rust, config

🐛 Verbessere Fehlerausgabe für nicht unterstützte macOS-Architekturen
  src/update.rs
Labels: rust

✨ Füge Unterstützung für die Rotation von Objekten hinzu: Ermöglicht alternative Ausrichtungen während des Verpackungsprozesses und aktualisiert die Benutzeroberfläche zur Konfiguration.
  README.md
  src/api.rs
  src/config.rs
  src/optimizer.rs
  web/index.html
  web/script.js
Labels: rust, web, documentation

Update src/optimizer.rs
  src/optimizer.rs
Labels: rust

Optimize rotation deduplication and standardize epsilon handling (#14)
  src/optimizer.rs
  web/script.js
Labels: rust, web

Update README.md
  README.md
Labels: documentation

Move allow_rotations documentation to API endpoints section (#15)
  README.md
Labels: documentation

Feature: Rotation (#11)
  README.md
  src/api.rs
  src/config.rs
  src/optimizer.rs
  web/index.html
  web/script.js
Labels: rust, web, documentation

Add Docker deployment target with automated Docker Hub publishing (#13)
  .dockerignore
  .github/workflows/docker.yml
  DOCKER_SETUP.md
  Dockerfile
  README.md
Labels: config, documentation

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/rust.yml
Labels: config

Potential fix for code scanning alert no. 1: Workflow does not contain permissions (#16)
  .github/workflows/rust.yml
Labels: config

Update src/api.rs
  src/api.rs
Labels: rust

Add conditional checks to Docker workflow for missing secrets (#18)
  .github/workflows/docker.yml
Labels: config

Revert invalid secret conditionals in Docker workflow (#19)
  .github/workflows/docker.yml
Labels: config

Add unit tests for parse_bool and clarify allow_rotations API fallback (#20)
  README.md
  src/api.rs
  src/config.rs
Labels: rust, documentation

fmt
  src/optimizer.rs
Labels: rust

Update dependencies and improve API route handling
  Cargo.toml
  src/api.rs
  src/geometry.rs
  src/model.rs
  src/optimizer.rs
Labels: rust

Update version to 1.1.0 and enhance Docker setup documentation
  CHANGELOG
  Cargo.toml
  DOCKER_SETUP.md
Labels: rust

Update .dockerignore
  .dockerignore
Labels: none

Refine Docker configuration and clarify axum 0.8 route syntax (#23)
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
Labels: config

Add test coverage for allow_rotations field parsing and override behavior (#21)
  src/api.rs
Labels: rust

Update CHANGELOG
  CHANGELOG
Labels: none

Update CHANGELOG
  CHANGELOG
Labels: none

Version 1.1.0 (#17)
  .dockerignore
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  CHANGELOG
  Cargo.toml
  DOCKER_SETUP.md
  Dockerfile
  README.md
  src/api.rs
  src/config.rs
  src/geometry.rs
  src/model.rs
  src/optimizer.rs
  src/update.rs
  web/index.html
  web/script.js
Labels: rust, web, config, documentation

fixing macos error in pipeline
  .github/workflows/release.yml
Labels: config

Release 1.1.1
  CHANGELOG
  Cargo.toml
  package.json
Labels: rust, config

Fixing the windows install script
  CHANGELOG
  Cargo.toml
  package.json
  scripts/install-windows.ps1
Labels: rust, scripts, config

Erweitere Docker-Workflow mit Geheimnisvalidierung, Trivy-Sicherheitsprüfung und verbesserten Dockerfile-Optimierungen. Füge Docker Compose-Datei hinzu.
  .github/copilot-instructions.md
  .github/workflows/docker.yml
  Cargo.toml
  Dockerfile
  docker-compose.yml
Labels: rust, config

Aktualisiere Trivy-Scanner-Konfiguration, um das erste Tag aus der Metadaten-Aktion zu verwenden
  .github/workflows/docker.yml
Labels: config

Fix Docker container startup with ENTRYPOINT (#25)
  .github/copilot-instructions.md
  .github/workflows/docker.yml
  Cargo.toml
  Dockerfile
  docker-compose.yml
Labels: rust, config

Refactor: Update German language strings to English in update.rs, index.html, and script.js
  .github/copilot-instructions.md
  CONCEPT.md
  DOCKER_SETUP.md
  README.md
  scripts/install-unix.sh
  scripts/install-windows.ps1
  src/api.rs
  src/config.rs
  src/geometry.rs
  src/main.rs
  src/model.rs
  src/optimizer.rs
  src/types.rs
  src/update.rs
  web/index.html
  web/script.js
Labels: rust, web, scripts, documentation

Dokumentation: Ergänze Anweisungen zu Kernarten und deren Verwendung in copilot-instructions.md
  .github/copilot-instructions.md
Labels: none

Bump version to 1.2.0 in Cargo.toml and package.json
  CHANGELOG
  Cargo.toml
  package.json
Labels: rust, config

Refactor: Optimize string formatting in update.rs and optimizer.rs
  src/optimizer.rs
  src/update.rs
Labels: rust

Dokumentation: Aktualisiere Kommentare und Übersetzungen in docker-compose.yml und types.rs
  docker-compose.yml
  src/types.rs
Labels: rust

Upgrade the 3D packing UI and extend releases with native installers and physics-aware packing heuristics (#31)
  .github/workflows/release.yml
  README.md
  scripts/install-unix.sh
  scripts/install-windows.ps1
  scripts/uninstall-unix.sh
  scripts/uninstall-windows.ps1
  src/optimizer.rs
  web/index.html
  web/script.js
Labels: rust, web, scripts, config, documentation

Bump release metadata to 1.3.0 and align docs/changelog with the latest feature PR (#32)
  CHANGELOG
  Cargo.toml
  README.md
  package.json
Labels: rust, config, documentation

Update Trivy action version to v0.28.0 in Docker workflow
  .github/workflows/docker.yml
Labels: config

Upgrade Trivy action version to v0.35.0 in Docker workflow
  .github/workflows/docker.yml
Labels: config

Enhance Windows packaging script with error handling and XML namespace updates
  .github/workflows/release.yml
Labels: config
