Repository JosunLP/sort-it-now, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, web, scripts, config, documentation

Upgrade actions/checkout and actions/upload-artifact versions to v5 and v6 respectively across workflow files
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/summary.yml
Labels: config

Simplify install/uninstall to direct single-line commands (#33)
  README.md
  scripts/install-unix.sh
  scripts/install-windows.ps1
Labels: scripts, documentation

Update contact information for commercial licenses
  LICENSE
Labels: none

Updates
  .env.example
  CHANGELOG
  Cargo.toml
  README.md
  mise.toml
  src/api.rs
  src/cli.rs
  src/config.rs
  src/lib.rs
  src/main.rs
  src/model.rs
  src/optimizer.rs
  src/update.rs
  tests/api.rs
  web/index.html
  web/script.js
Labels: rust, web, documentation

Update
  CHANGELOG
  CONCEPT.md
  README.md
  src/api.rs
  src/lib.rs
  src/model.rs
  src/optimizer.rs
  src/packaging.rs
  tests/api.rs
  web/index.html
  web/script.js
Labels: rust, web, documentation

Release v1.4.0
  CHANGELOG
  Cargo.toml
  README.md
  package.json
Labels: rust, config, documentation

.github/labeler.yml:

# Add labels to pull requests based on modified file paths
rust:
  - 'src/**/*.rs'
  - 'Cargo.toml'
web:
  - 'web/**'
scripts:
  - 'scripts/**'
config:
  - '.github/workflows/**'
  - 'package.json'
documentation:
  - 'README.md'
  - 'CONCEPT.md'
